/* css styles */
.navbar-dark {
    background-color: #0aaa50;
}
.quarto-title-banner {
    background: #0aaa50;
}

/* Make text inside the green title banner white */
.quarto-title-banner h1.title,
.quarto-title-banner .quarto-categories,
.quarto-title-banner .quarto-category {
    color: white !important;
}
